@use "../../partials/mixins" as *;

.mains{
    background-color: black;
    padding: 0;

    &__box{
        @include desktop{
            width:100%;
            height: 100%;
            
            padding: 0 118px;
           
        }
    }
}