@font-face{
    font-family: "Avenir";
    src:url("../assets/Font/AvenirNextLTPro-Regular.otf") format(otf);
    font-weight: 400;
}

@font-face{
    font-family: "Avenir Demi";
    src:url("../assets/Font/AvenirNextLTPro-Demi.otf") format(otf);
    font-weight: 600;
}

@font-face{
    font-family: "Avenir Bold";
    src:url("../assets/Font/AvenirNextLTPro-Bold.otf") format(otf);
    font-weight: 700;
}
