@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/color" as *;

.app {

    &__bottom {
        @include desktop {
            display: flex;
            align-items: center;
           margin-left: 5rem;
           
        }
    }

    &__comments{
        @include desktop{
            max-width:61rem;
           
        }
    }

    &__box{
        @include desktop{

            @include flex-row-center;
            flex-direction: column;
            width:70%;
            
        }
    }

    &__list{
        @include desktop{
            border-left: 1px solid $primary-silver;
            margin-bottom: 10rem;
        }
    }
}