@use "../../partials/mixins" as *;
@use '../../partials/color' as *;
@use '../../partials/typography';

.video {
    font-family: "Avenir", sans-serif;
    color: $primary-black;
    &__title {
        padding: 24px 16px 16px 16px;
        font-size: 28px;
        line-height: 32px;
        font-weight: 900;
        margin: 0;


        @include tablet{
            font-family: "Avenir Bold", sans-serif;
            font-size:33px;
            line-height: 44px;
        }
    }

    &__info {
        @include flex-row-center;
        justify-content: space-between;
       
        padding: 13px 16px;
        border-bottom:  1px solid $secondary-mercury;
        border-top:  1px solid $secondary-mercury;
        margin-left:1rem;
        margin-right: 1rem ;
       

        @include tablet{
            padding: 0;
          
            height:30px;
        }


        &-subtitle {
            color: $primary-silver;
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
        }

        &-date{
            padding-left:-16px;

            @include tablet{
                padding: 0 24px;
            }

            @include desktop{
                padding-top: 16px;
            }

        }
        &-channel {
            @extend .video__info-subtitle;
            color: $primary-black;
            font-weight: 700;

            @include tablet{
                font-weight: 700;
                line-height: 22px;
                font-size: 14px;
                margin-right: 1rem;
            }

            @include desktop{
                margin-right: 1rem;
            }
        }

        &-right {
            @include flex-row-center;
            flex-direction: column;
            align-items: flex-start;

            @include tablet{
                flex-direction: row;
                padding: 16px 16px;
                align-items: center;
            }

            @include desktop{
                align-items: center;
                justify-content: space-between;

            }
        }

        &-left {
            @include flex-row-center;
            flex-direction: column;
            align-items: flex-start;

            @include tablet{
                flex-direction: row;
                align-items: end;
            }

        }

        &-num{
            position: relative;
            left: -45px;
            top: 3px;

            @include tablet{
               left: -40px;
            }

        }

        &-nums{
            @extend .video__info-num;
            top: 10px;

            @include tablet{
                left: -13px;
                top:4px;
            }

        }
    }

    &__likes{
        position: relative;
        left: -55px;
        top:15px;

        @include tablet{
           top:8px;
           left: -18px;
        }

    }

    &__views{
        @extend .video__likes;
        top:5px;

        @include tablet{
            left: -50px;
        }

    }

    &__description{
        padding: 16px 16px 24px 16px;
        font-size: 16px;
        line-height: 23px;
        font-weight: 450;
        margin:0;

        @include tablet{
            font-size: 14px;
            line-height: 22px;
        }

    }
}